<h1>Landing#show</h1>

<div class='question-container'>
  <div class='answer'>This term for the termination of a proceeding without a verdict sounds like the end of a school class</div>
  <div class='category'>Potent Potables</div>
  <div class='dollar-value'>$200</div>
  <div style='clear: both;'></div>
</div>
