<div class='pull-right'>
  <table class='breakdown'>
    <thead>
      <tr>
        <% @game.date_range.count.times do %>
          <th></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% @game.date_range.each do |date| %>
          <td>
            <% answer = Answer.on(date) %>
            <%= link_to [@game, answer] do %>
              <%= breakdown_icon status_for(answer) %>
            <% end %>
          </td>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>
