<div style='float: right'>
  <%= link_to 'Prev', [@answer.prev.game, @answer.prev], class: 'btn' if @answer.prev %>
  <%= link_to 'Next', [@answer.next.game, @answer.next], class: 'btn' if @answer.next %>
</div>

