<h1><%= t(:editing_model, model: Game.model_name.human) %></h1>

<%= render 'form' %>

<%= link_to t(:show), @game, class: 'btn btn-default' %>
<%= link_to t(:back), games_path, class: 'btn btn-default' %>
