@import 'bootstrap';
@import 'bootstrap-responsive';

/* padding for fixed nav */
body{
  padding-top: 68px;
}
@media (max-width: 980px){
  body{
    padding-top: 0;
  }
}

footer {
  p {
    color: #aaa;
  }
}
