@import "bootstrap-sprockets";
@import "bootstrap_overrides";
@import "bootstrap";
@import 'fontello';

@import 'select2';

@import 'bootstrap-datepicker';

$goldBackground: #ebca3d;
$silverBackground: #d6dae3;
$bronzeBackground: #e8a87a;

@font-face {
  font-family: korinna;
  src: font-url("scakorinnabold.ttf") format('truetype');
  font-weight: bold;
  font-style: normal;
}

@mixin fancy-serif {
  font-size: 28px;
  line-height: 36px;
  text-transform: uppercase;
  text-shadow: 2px 2px black;
  font-family: korinna, serif;
  font-weight: bold;
  color: white;
}

@mixin fancy-sans {
  font-size: 28px;
  line-height: 36px;
  text-transform: uppercase;
  text-shadow: 4px 4px black;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: white;
}

@mixin bg-striped($color1, $color2) {
  background: repeating-linear-gradient(
      45deg,
      $color1,
      $color1 10px,
      $color2 10px,
      $color2 20px
    );
}

@import 'imperilment';
@import 'web_hook';
@import 'responsive';
