
/* padding for fixed nav */
body{
  padding-top: 68px;
}

footer {
  margin-top: 2em;
  p {
    text-align: center;
    color: #aaa;
  }
}

div.pagination {
  display: block;
  text-align: center;
}

.home-area {
  width: 80%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 14px;
  background-color: #229;
  position: relative;

  h1, p {
    @include fancy-sans;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
  }

  h1 {
    padding-top: 80px;
    line-height: 70px;
    font-size: 64px;
  }
}

.question-container {
  margin-bottom: 20px;

  .area {
    height: 200px;
    margin-bottom: 20px;
    border-radius: 14px;
    background-color: #229;

    & > div {
      display: table;
      vertical-align: middle;
      height: 100%;
      width: 100%;

      p {
        height: 100%;
        padding: 0 25px;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
      }
    }

    .category {
      @include fancy-sans;
    }

    .dollar-value {
      @include fancy-sans;
      font-size: 64px;
      line-height: 72px;
      color: #ff8;
    }

  }

  .area-answer {
    height: 420px;
    width: 100%;
    border-radius: 14px;
    float: right;
    background-color: #229;
    position: relative;

    & > div {
      display: table;
      vertical-align: middle;
      height: 100%;
      width: 100%;

      p {
        height: 100%;
        padding: 0 45px;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
      }
    }
  }

  .answer {
    @include fancy-serif;
  }
}

form {
  input.datepicker {
    margin-top: 0;
  }
}

.badge {
  border-radius: 16px;
  padding: 4px;
  text-align: center;

  &.badge-danger {
    background-color: #a90329;
    border: 1px solid;
    border-color: #bd362f #bd362f #802420;
  }
}

.table {
  tbody td.score, thead th.score {
    width: 100px;
    text-align: right;

    i {
      float: left;
    }
  }

  tbody td.badge-column, thead th.badge-column {
    width: 3px;
    border: none;
  }

  tbody > tr {
    & > td.finishes > span {
      margin-right: 16px;
    }

    &.gold > td {
      background-color: $goldBackground;
    }

    &.silver > td {
      background-color: $silverBackground;
    }

    &.bronze > td {
      background-color: $bronzeBackground;
    }
  }
}

table.breakdown {
  border: 1px solid $gray-light;
  border-collapse: separate;
  background-color: white;
  border-radius: 4px;

  thead tr {
    th {
      background: $gray-lighter;
      border-left: 1px solid $gray-light;
      border-bottom: 1px solid $gray-light;
      padding: 2px;
      text-align: center;

      &:first-child {
        border-top-left-radius: 2px;
        border-left: none;
      }

      &:last-child {
        border-top-right-radius: 2px;
      }
    }
  }

  tbody tr {
    td {
      border-left: 1px solid $gray-light;
      padding: 2px;
      width: 25px;
      line-height: 12px;
      text-align: center;

      &:first-child {
        border-left: none;
      }

      & i.icon-ok {
        color: $brand-success;
      }

      & i.icon-cancel {
        color: $brand-danger;
      }

      & i.icon-asterisk {
        color: $brand-warning;
      }

      & i.icon-minus {
        color: $gray-light;
      }
    }
  }
}

i {
  &.gold {
    color: $goldBackground;
  }

  &.silver {
    color: $silverBackground;
  }

  &.bronze {
    color: $bronzeBackground;
  }
}

.navbar-default .navbar-brand {
  svg path {
    fill: $navbar-default-brand-color;
  }

  &:hover svg path {
    fill: $navbar-default-brand-hover-color;
  }
}

.navbar-right a {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 20px;

  /* Make avatar images ignore padding-top and padding-bot
    on .navbar-right so that they don't expand the navbar */
  img {
    margin: -10px auto;
    border-radius: 5px;
    width: 40px;
    height: 40px;
  }
}

/* Round the avatar image's corners */
.avatar > img {
  border-radius: 5px;
}
/* Size the avatars on the leader board */
.avatar > img, .avatar > i {
  width: 3rem;
}
/* Set the avatar column width */
th.avatar {
  width: 3.5rem;
}
/* Horizontally align avatars */
td.avatar {
  text-align: center;
}

/* Make the loading icon spin */
.icon-spin6 {
  animation: 1s linear infinite spin;
  display: inline-block;
}

sup {
  top: 0;
  font-size: 0.5em;
  vertical-align: super;
}
